footer {
    font-size: 20px;
    position: sticky;
    background: linear-gradient(to bottom right, #b5d9ff, #77aaff);
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 0 100%);
    padding: 40px;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('../static/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;

}

h2{
    padding: 20px;
}

table{
    padding: auto;
}

header {
    background-color: #77aaff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    left: 0;
    right: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #0077b6;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #0077b6;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005d82;
}