<!DOCTYPE html>
<html>

<head>
    <title>IIIT Contact Directory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='feat.css') }}">
</head>

<body>

    <header>
        <a href="{{ url_for('index') }}"><img height="98px" src="{{ url_for('static', filename='logo.jpeg') }}"></a>
        <h2>International Institute of Information Technology, Hyderabad</h2>
    </header>

    <br><br><br><br><br><br><br>
    <main>
        <table align="center">

            <body>
                <form action="/add_students_submit" method="GET">
                    <h1>Authentication</h1>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required><br>

                    <label for="roll_no">Password:</label>
                    <input type="password" id="roll_no" name="roll_no" required><br>
                </form>
        </table>
    </main>

    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br><br>

    <footer>
        Copyright © 2023, International Institute of Information Technology, Hyderabad. All rights reserved.
        <br>
        Contact us at info@iiit.ac.in
    </footer>
</body>

</html>