<!DOCTYPE html>
<html>
    <head>
        <title>
            IIIT Contact Directory
        </title>
        <link rel="stylesheet" href="../static/feat.css">
    </head>
    <body class="animated-background">

        <header>
            <img src="../static/logo.jpeg"></img>
            <a class="head" href="index.html">Home</a>
        </header>
        <p>Faculty Page</p>
        <footer>
            Copyright © 2023, International Institute of Information Technology, Hyderabad. All rights reserved. 
            <br>
            Contact us at info@iiit.ac.in
        </footer>
    </body>
</html>