<!DOCTYPE html>
<html>
    <head>
        <title>
            IIIT Contact Directory
        </title>
        <link rel="stylesheet" href="../static/feat.css">
    </head>
    <body class="animated-background">

        <header>
            <img src="../static/logo.jpeg"></img>
            <a class="head" href="index.html">Home</a>
        </header>
        <br>
        <div class="slideshow-container">
            <img class="slideshow-image active" src="../static/index2.jpeg">
            <img class="slideshow-image" src="../static/index1.jpeg">
            <img class="slideshow-image" src="../static/index3.jpeg">
          </div>    

        <br>
          
        <pre>
            Our web app provides an easy and accessible way for students and faculty to access important
            information about individual students. Our database stores crucial information such as the 
            student's roll number, name, email, and contact information. This information is available to
            both students and faculty, making it easy to stay connected and informed. With this database, 
            faculty can easily access contact information for their students, making it simple to communicate
            important information or updates. Similarly, students can review their own information and ensure
            that their contact information is up to date. Our web app offers a user-friendly interface that
            makes it simple to find the information you need quickly and easily.

            Here is how you can access the information you need.
        </pre>
        <table align="center">
            <th>
                <h2>
                    <button class="Student">Student Database</button>
                    <button class="Faculty">Faculty Database</button>
                </h2>
            </th>
        </table>
        <footer>
            
        </footer>
        <script src="../static/index.js"></script>
    </body>
</html>