<!DOCTYPE html>
<html>
    <head>
        <title>
            IIIT Contact Directory
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='feat.css') }}">
    </head>
    <body class="animated-background">

        <header>
            <a href="{{ url_for('index') }}"><img height="98px" src="{{ url_for('static', filename='logo.jpeg') }}"></a>
            <h2>International Institute of Information Technology, Hyderabad</h2>
        </header>
        <br>
        <div class="slideshow-container">
            <img class="slideshow-image active" src="../static/index2.jpeg">
            <img class="slideshow-image" src="../static/index1.jpeg">
            <img class="slideshow-image" src="../static/index3.jpeg">
          </div>    

        <br>
          
        <pre>          
            Our web app provides an easy and accessible way for students and faculty to access important
            information about individual students. Our database stores crucial information such as the 
            student's roll number, name, email, and contact information. This information is available to
            both students and faculty, making it easy to stay connected and informed. With this database, 
            faculty can easily access contact information for their students, making it simple to communicate
            important information or updates. Similarly, students can review their own information and ensure
            that their contact information is up to date. Our web app offers a user-friendly interface that
            makes it simple to find the information you need quickly and easily.

            Here is how you can access the information you need. Unauthorised poeple cannot change data.
        </pre>
        <table align="center">
            <th style="border: 0px;">
                <h2>
                    <button class="Student">Student Database</button>
                    <button class="Faculty">Faculty Database</button>
                </h2>
            </th>
        </table>
        <footer>
            Copyright © 2023, International Institute of Information Technology, Hyderabad. All rights reserved. 
            <br>
            Contact us at info@iiit.ac.in
        </footer>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
              var student = document.querySelector(".Student");
              student.addEventListener("click", function(event) {
                window.location.href = "{{ url_for('student') }}";
              });
          
              var faculty = document.querySelector(".Faculty");
              faculty.addEventListener("click", function(event) {
                window.location.href = "{{ url_for('faculty') }}";
              });
            });
          
            const images = document.querySelectorAll('.slideshow-image');
            let currentIndex = 0;
          
            setInterval(() => {
              images[currentIndex].classList.remove('active');
              currentIndex = (currentIndex + 1) % images.length;
              images[currentIndex].classList.add('active');
            }, 3000);
          </script>
          
    </body>
</html>
