<!DOCTYPE html>
<html>
    <head>
        <title>
            IIIT Contact Directory
        </title>
        <link rel="stylesheet" href="../static/feat.css">
    </head>
    <body>

        <header>
            Navbar
        </header>
        <table align="center">
            <th>
                <h2>
                    <button class="Student">Student Database</button>
                    <button class="Faculty">Faculty Database</button>
                    <button class="Staff">Staff Database</button>
                </h2>
            </th>
        </table>
        <footer>
            footer
        </footer>
        <script src="../static/index.js"></script>
    </body>
</html>