<!DOCTYPE html>
<html>

<head>
    <title>IIIT Contact Directory</title>
    <link rel="stylesheet" href="../static/add.css">
</head>

<body>

    <header>
        <a href="{{ url_for('index') }}"><img height="98px" src="{{ url_for('static', filename='logo.jpeg') }}"></a>
        <h2>International Institute of Information Technology, Hyderabad</h2>
    </header>

    <br><br><br><br><br><br><br>
    <main>
        <table align="center">

            <body>

                <h1>Update Details</h1>
                <form action="/update_faculty_submit" method="GET">


                    <label for="name">Name:(This field cannot be changed)</label>
                    <input type="text" id="name" name="name" required><br>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required><br>

                    <label for="phone">Phone:</label>
                    <input type="text" id="phone" name="phone" required><br>

                    <label for="major_research_area">Major Research Area:</label>
                    <input type="text" id="major_research_area" name="major_research_area"><br>

                    <label for="office_hours">Office Hours:</label>
                    <input type="text" id="office_hours" name="office_hours" required><br>

                    <label for="office">Office:</label>
                    <input type="text" id="office" name="office" required><br>

                    <input type="submit" value="Update">
                </form>
        </table>
    </main>

    <br><br><br><br>
    <br><br><br><br>

    <footer>
        Copyright © 2023, International Institute of Information Technology, Hyderabad. All rights reserved.
        <br>
        Contact us at info@iiit.ac.in
    </footer>
    <script src="../static/fackey.js"></script>
</body>

</html>